@import './../../styles/variables.scss';

.home{


}
.wrapper{
	display:flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.title{
	color:$primary-color;
	font-size: 36px;
	margin-bottom: 20px;
}